/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{ /*DA ELIMINARE*/
    border: 1px solid red;
    /* min-height: 80px; */
}

/* COLORI:

blu hero: #265ee8
nero testo e footer: #23272a
onda: #f6f6f6
bottone chiaro: #8fa1e1
testo footer blu: #7389da */

/* GENERAL */

body{
    min-width: 1170px;
    font-family: Helvetica, sans-serif;;
}

.btn{
    background-color: white;
    padding: 8px 10px;
    border-radius: 20px;
}

.flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

/* NAVBAR STYLE */
header{
    background-color: #265ee8;
}

header nav{
    width: 75%;
    margin: 0 auto;
    min-height: 80px;
}

header ul{
    min-width: 500px;
    list-style: none;
}

.btn.login{
    color: #23272a;
}

header ul a:hover{
    text-decoration: underline;
}

header .btn.login:hover{
    box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}

/* HERO STYLE */
.hero{
    min-height: 470px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    color: white;
}

.inner-hero{
    height: 350px;
    width: 680px;
    margin: 0px auto 0px;
    justify-content: center;
    align-content: space-around;
    padding-top: 70px;
}

.inner-hero h1{
    font-size: 50px;
}

.inner-hero p{
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.inner-hero .buttons .btn{
    padding: 12px 20px;
    margin: 0px 10px;
}

.inner-hero .buttons .btn.download{
    color: #23272a;
    background-color: white;
}

.inner-hero .buttons .btn.open-in-browser{
    color: white;
    background-color: #23272a;
}

.inner-hero .buttons .btn.download .fa-solid.fa-down-long{
    color: #23272a;
    padding-right: 10px;
}

.inner-hero .buttons .btn.download:hover{   /*L'icone non cambia colore all'hover!?*/
    color: #8fa1e1;
    box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}

.inner-hero .buttons .btn.btn.open-in-browser:hover{
    background-color: #2c2f33;
    box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}