/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{ /*DA ELIMINARE*/
    border: 1px solid red;
    /* min-height: 80px; */
}

.clearfix:after{
    content:"";
    display: table;
    clear: both;
}

.container{
    width: 70%;
    margin: 0 auto;
}

/* COLORI:

blu hero: #265ee8
nero testo e footer: #23272a
onda: #f6f6f6
bottone chiaro: #8fa1e1
testo footer blu: #7389da */

/* GENERAL */

body{
    min-width: 1170px;
    font-family: Helvetica, sans-serif;;
}

.btn{
    background-color: white;
    padding: 8px 10px;
    border-radius: 20px;
}

.flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

h2{
    font-size: 36px;
    line-height: 45px;
}

h3{
    font-size: 32px;
}

h4{
    font-size: 25px;
}

span{
    display: inline-block;
}

ul{
    list-style: none;
}

ul a:hover{
    text-decoration: underline;
}

/* NAVBAR STYLE */
header{
    background-color: #265ee8;
}

header nav{
    min-height: 80px;
}

header ul{
    min-width: 500px;
}

.btn.login{
    color: #23272a;
}

header .btn.login:hover{
    box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}

/* HERO STYLE */
.hero{
    min-height: 470px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    color: white;
}

.inner-hero{
    height: 350px;
    width: 680px;
    margin: 0px auto 0px;
    justify-content: center;
    align-content: space-around;
    padding-top: 70px;
}

.inner-hero h1{
    font-size: 50px;
}

.inner-hero p{
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.inner-hero .buttons .btn{
    padding: 12px 20px;
    margin: 0px 10px;
}

.inner-hero .buttons .btn.download{
    color: #23272a;
    background-color: white;
}

.inner-hero .buttons .btn.open-in-browser{
    color: white;
    background-color: #23272a;
}

.inner-hero .buttons .btn.download .fa-solid.fa-down-long{
    padding-right: 10px;
}

.inner-hero .buttons .btn.download:hover{
    color: #8fa1e1;
    box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}

.inner-hero .buttons .btn.open-in-browser:hover{
    background-color: #2c2f33;
    box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}

/* MAIN STYLE */

main section{
    min-height: 500px;
}

main section:nth-of-type(even){
    background-color: #f6f6f6;
}

/* La seconda sezione non veniva ben centrata per colpa delle 'wave' sopra e sotto. Ho scelto di darle un bordo superiore della stessa altezza delle wave e stesso colore del background per centrarne il contenuto. */
main section:nth-of-type(2){
    border-top: 100px solid #f6f6f6;
}

main svg{
    display: block;
}

main .wave-1hkxOo.reverse{
    transform: rotate(180deg);
}
                    
main section img{
    width: 500px;
}

main section .feature-description{
    width: 300px;
    padding: 0 5px;
}

main section .feature-description p{
    font-size: 16px;
    padding-top: 20px;
    line-height: 22px;
}

/* MAIN SECTION ---> LAST SECTION */

.long-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding-top: 60px;
}

.long-section img{
    width: 100%;
}

.long-section p{
    padding-top: 15px;
}

.long-section .meeting-description{
    width: 800px;
}

.long-section .btn{
    margin: 50px 0; 
    background-color: #8fa1e1;
}

.long-section .btn .fa-solid.fa-down-long{
    padding-right: 10px;
}

.long-section .btn:hover{
    background-color: #8fa1e1a1;
    box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}

/* FOOTER STYLE */

footer{
    min-height: 600px;
    background-color: #23272a;
    color: white;
    border-top: 50px solid #f6f6f6;
}

.info-box{
    align-items: flex-start;
    padding: 50px 0 30px;
    border-bottom: 2px solid #7389da;
}

.info-box div{
    width: calc(100% / 6);
}

.info-box .social{
    width: calc((100% / 6) * 2)
}

.info-box .social > *{
    padding-top: 20px;
}

.info-box .social h3{
    color: #7389da;
}

.info-box .social .country-flag{
    width: 25px;
}

.info-box .social #language{
    background-color: #23272a;
    color: white;
    border: transparent;
    font-size: 18px;
}

.info-box .social .social-icons{
    width: 50%;
}

footer .info-box ul > *{
    padding-top: 20px;
}

footer .info-box ul:first-child{
    color: #7389da;
}

/* footer tail style */
.footer-tail{
    padding: 30px 0 80px;
}

footer .footer-tail .btn{
    background-color: #7389da;
}

footer .footer-tail .btn:hover{
    background-color: #8fa1e1;
    box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}

footer .footer-tail:first-child{
    float: left;
}

footer .footer-tail .btn{
    float: right;
}